/* VARIABLES */
:root {
  --light-blue: #B4D0E7;
  --btn-color: #0061FF;
  --header-height: 80px;
  --header-hover: #F2EEE8;
  --dropdown-hover: #E7E0D7;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin-bottom: 50px;
  font-size: 2.63rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.65rem;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

/* UTILITY */
.d-flex {
  display: flex;
}

.big-container {
  width: 98%;
  max-width: 1220px;
  margin: 0 auto;
}

.small-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

a.btn {
  display: block;
  padding: 10px 16px;
  margin: 30px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.btn-blue {
  background-color: var(--btn-color);
  color: white;
}

.btn-blue:hover {
  background-color: #5495ff;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-white:hover {
  background-color: whitesmoke;
}

.mb-xl {
  margin-bottom: 150px;
}

/* HEADER  HEADER  HEADER  HEADER  HEADER */
header {
  height: var(--header-height);
  width: 100%;
  background-color: white;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.302);
}

header nav,
header ul,
header li,
header a {
  height: var(--header-height);
  line-height: var(--header-height);
}

header a {
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

header .btn {
  display: inline;
  padding: 8px 16px;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}

header a:not(.btn,.logo-link):hover,
header .dropdown-container:hover {
  background-color: var(--header-hover);
}

header a.normal-hover:hover {
  border-bottom: 2px solid black;
}

header .logo {
  vertical-align: middle;
}

/* SUPERBONUS */
header .dropdown-container {
  position: relative;
}

header .dropdown-container:hover {
  background-color: var(--header-hover);
}

.dropdown-nav {
  position: absolute;
  bottom: -100%;
  left: 0;
  display: none;
}

.dropdown-nav li,
.dropdown-nav a {
  background-color: var(--header-hover);
  line-height: normal;
  height: auto;
  width: 100%;
}

.dropdown-nav a {
  padding: 10px 12px;
}

.dropdown-nav li:not(:first-child):hover a {
  background-color: var(--dropdown-hover);
}

header a:hover ~ .dropdown-nav, 
.dropdown-nav:hover {
  display: inline-block;
}

.dropdown-nav i {
  color: #0061FF;
  font-size: 1.3rem;
  margin: 5px 10px 5px 5px;
}

.dropdown-nav h5 {
  padding: 20px 12px 5px;
}

.dropdown-nav h6 {
  font-size: .8rem;
}

.dropdown-nav p {
  font-size: .7rem;
  margin-bottom: 10px;
}

header #solutions.dropdown-nav {
  width: 700px;
  height: max-content;
}

header #solutions.dropdown-nav .col {
  width: calc(100% / 3);
  height: auto;
  padding-bottom: 10px;
}

header #solutions.dropdown-nav a {
  font-size: .8rem;
}

header #solutions.dropdown-nav .wrapper {
  background-color: var(--header-hover);
}

header #functions.dropdown-nav {
  width: 280px;
}

/* MAIN  MAIN  MAIN  MAIN  MAIN  MAIN  MAIN */
/* JUMBOTRON */
#jumbotron {
  background-color: var(--light-blue);
  padding-top: calc(80px + var(--header-height));
}

#jumbotron h1 {
  font-size: 4.88rem;
  font-weight: 800;
  margin-bottom: 50px;
  padding-left: 10px;
}

#jumbotron .wrapper {
  position: relative;
}

#jumbotron .text-container {
  width: 30.32%;
  line-height: 1.46rem;
  font-weight: 800;
}

#jumbotron .text-container p {
  font-weight: 600;
  font-size: 1.08rem;
  letter-spacing: -1px;
}

#jumbotron .btn {
  display: inline-block;
  margin: 27px 0 30px;
}

#jumbotron .text-container i {
  font-size: 3.3rem;
  margin: 60px 0 20px;
}

#jumbotron .wrapper img {
  width: 69.67%;
  position: absolute;
  right: 0;
}

/* BUSINESS PLAN */
#business-plan .input-radio {
  margin-bottom: 50px;
}

#business-plan input {
  cursor: pointer;
  margin-right: 5px;
}

#business-plan label {
  margin-right: 30px;
}
/* Effetto selezione radio */
.circle-monthly,
.circle-annual {
  display: none;
  width: 18px;
  aspect-ratio: 1;
  border: 5px solid #0061FF;
  border-radius: 50%;
  vertical-align: bottom;
}

#monthly:checked {
  display: none;
}

#monthly:checked ~ .circle-monthly {
  display: inline-block;
}

#annual:checked {
  display: none;
}

#annual:checked ~ .circle-annual {
  display: inline-block;
}
/* /Effetto selezione radio */

#business-plan .small-container {
  justify-content: space-between;
}

#business-plan .col {
  width: 100%;
  border: 1px solid black;
  font-size: .85rem;
}

#business-plan .small-container .col:not(:first-child) {
  margin-left: 50px;
}

#business-plan .col .user-type {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 8px;
}

#business-plan .col .type-details {
  padding: 27px;
}

#business-plan .col .price {
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 900;
}

#business-plan .col .characteristics {
  align-items: flex-start;
  font-weight: 600;
  margin-top: 45px;
}

#business-plan .col .characteristics p {
  margin-bottom: 20px;
}

#business-plan .col .type-details i {
  margin-right: 5px;
}

#business-plan .col .type-details i.fa-check {
  color: var(--btn-color);
}

#business-plan .col .line-bottom {
  padding-bottom: 40px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  display: inline-block;
}

#business-plan .col h4 {
  margin-bottom: 30px;
  font-weight: 900;
}

#business-plan .large-col {
  margin: 50px auto;
}

#business-plan .large-col .text-box {
  width: 70%;
  padding: 30px;
  font-weight: 500;
}

#business-plan .large-col .btn-box {
  width: 30%;
  padding: 0 30px;
}

/* CONTACT US */
#contact-us .img-container {
  width: 60%;
  height: 510px;
}

#contact-us .text-container {
  width: 40%;
  padding: 50px 48px 50px;
  font-weight: 600;
}

#contact-us .text-container .btn {
  display: inline-block;
  border: 2px solid black;
}

/* OPERATION */
#operation .row {
  margin-bottom: 50px;
}

#operation .row .col {
  width: calc(100%/3);
  padding-right: 35px;
}

#operation p {
  font-weight: 600;
  font-size: 1.05rem;
  letter-spacing: -1px;
}

/* CUSTOMERS INFO */
#customers-info .small-container {
  padding-right: 400px;
}

/* SPONSOR */
#sponsor .sponsor-box {
  width: calc(100% / 3);
  flex-wrap: wrap;
  aspect-ratio: 1;
}

#sponsor .sponsor-img {
  width: 50%;
  aspect-ratio: 1;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sponsor .sponsor-img.active {
  border: 15px solid rgba(255, 255, 255, 0.55);
}

#sponsor .sponsor-img img {
  width: 45%;
  filter: invert(1);
}

#sponsor #designit {
  background-color: #A2D39B;
}

#sponsor #arizona {
  background-color: #61082B;
}

#sponsor #florida {
  background-color: #0093CE;
}

#sponsor #topps {
  background-color: #FF1C1C;
}

#sponsor #bicycle {
  background-color: #D5001F;
}

#sponsor #hearst {
  background-color: #B4D0E7;
}

#sponsor #lonely {
  background-color: #0D2481;
}

#sponsor #clear {
  background-color: #FFD830;
}

#sponsor .active-details {
  padding: 45px;
  background-color: #F5F5F5;
  overflow: auto;
  font-size: 0.98rem;
  font-weight: 600;
}

#sponsor .active-details img {
  width: 42%;
}

#sponsor .active-details hr {
  width: calc(100%/6);
  margin: 45px 0;
}

#sponsor .autor {
  padding-top: 50px;
}

/* FREE TRIAL */
#free-trial {
  background-color: var(--light-blue);
  padding: 130px 0  ;
}

#free-trial .small-container {
  justify-content: space-between;
  align-items: flex-start;
}

#free-trial .text-container {
  width: 50%;
}

#free-trial h2 {
  color: #61082B;
  margin: 0;
}

#free-trial .small-container .btn {
  margin-top: 10px;
}

/* FAQ */
#faq .question {
  position: relative;
  padding: 40px 0;
  border-top: 1px solid black;
  cursor: pointer;
  transition: display 1s;
}

#faq .question:last-child {
  border-bottom: 1px solid black;
  margin-bottom: 150px;
}

#faq .question i {
  position: absolute;
  right: 10%;
  top: 40px;
}

/* FAQ BONUS */
#faq p {
  padding-top: 40px;
  display: none;
}

#faq .question:hover p,
#faq .question:hover i.fa-angle-up {
  display: block;
}

#faq .question:last-child:hover {
  margin-bottom: 65px;
}

#faq .question:hover ~ .question:last-child {
  margin-bottom: 65px;
}

#faq .question:hover i.fa-angle-down {
  display: none;
}

#faq .question i.fa-angle-up {
  display: none;
}

/* FOOTER  FOOTER  FOOTER  FOOTER  FOOTER  FOOTER */
footer {
  background-color: black;
  padding: 100px 0 50px;
  color: white;
}

footer .info-section .info-box{
  width: 20%;
}

footer .info-section li:last-child {
  padding-bottom: 100px;
}

footer .info-box a {
  color: white;
  text-decoration: none;
  line-height: 2rem;
  font-weight: 500;
}

footer .language {
  display: inline-block;
  padding: 50px 40px 0 0;
  border-top: 2px solid #999999;
  font-size: .9rem;
  color: #999999;
}

footer .language-selector:hover {
  color: white;
  cursor: pointer;
}